.page{
    padding: 0;
    background-color: rgb(240, 218, 214);
}
body{
    top: 0px!important;
}
.tooltip {
    position: fixed;
    padding: 10px 20px;
    border: 1px solid #b3c9ce;
    border-radius: 4px;
    text-align: center;
    font: italic 14px/1.3 sans-serif;
    color: #333;
    background: #fff9f1;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
    z-index: 9;
  }
main{
    margin-bottom: 0px!important;
    background: url("../img/backTop.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.row:first-of-type {
    font-family: "Trirong", serif;
  }
.contacts img {
    width: 20px;
    padding-right: 5px;
}
.control{
    cursor: pointer;
}
.control:hover{
    transform: scale(1.1);
}
.contacts a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contacts li {
    width: fit-content;
}

.contacts li:hover a {
    font-size: 18px;
}

.job {
    display: flex;
    align-items: center;
}

.job img:first-of-type {
    width: 30px;
}

.fat {
    width: 100%!important;
}

.timeline li {
    position: relative;
    margin-bottom: 50px!important;
}
.Hide{
    display: none;
}
.timeline li:not(:last-of-type)::before {
    display: block;
    color: tomato;
    content: "o";
    position: absolute;
    left: 52%;
    z-index: 345;
    font-size: 20px;
    background-color:  rgb(240, 218, 214);
    bottom: -80%;
}

.alter li::before {
    left: 55%!important;
}

.timeline li:not(:last-of-type):after {
    display: block;
    height: 60px;
    width: 1px;
    background-color: tomato;
    content: "";
    position: absolute;
    left: 50%;
}

.timeline li p:first-of-type {
    background: linear-gradient(to right, #fff9f1 50%, #f1d3ab 50%);
    background-size: 200% 100%;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all ease 0.7s;
    border-radius: 2px;
    padding: 5px;
    background-position: left bottom;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
.skiptranslate{
    display: none;
}
.timeline li p:first-of-type img{
    height: 26px;
    width: 26px;
    margin-right: 10px;
}
section p:first-of-type{
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}
section p{
    background-color: #fff9f1;
}
.timeline li p:first-of-type:hover {
    border: 1px solid #ee9c2a;
    background-position: right bottom;
    border-radius: 2px 5px;
    transform: translateY(-7px);
    box-shadow: 0 15px 20px #db9680;
}

.timeline li p:last-of-type {
    margin-top: 5px;
    background-color: #fff9f1;
    display: table-column;
    transition: all ease 0.7s;
    transform: scaleY(0);
}

.Open {
    display: block !important;
    transform: scaleY(1) !important;
    border-radius: 0px 0px 7px 7px;
    padding: 3px;
}

.Tip {
    position: absolute;
    z-index: 9999;
    background: aliceblue;
    opacity: 0.7;
    border-radius: 0px 0px 10px 10px;
}

.Avatar {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 3px 10px;
}
h3{
    color:#ee9c2a;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    width: fit-content;
}
button{
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    margin: 10px 20px;
    position:absolute;
    overflow: hidden;
    border: 2px solid #fe6637;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ee9c2a;
    transition: .2s ease-in-out;
    background: transparent;
    cursor: pointer;
    right: 5%;
    bottom: 0%;
}
button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 50px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
}
button:hover {
    background: #eb7552;
    color: #fff;
    transform: translateY(-7px);
    box-shadow: 0 15px 20px #db9680;
}
button:hover:before {
    left: 150px;
    transition: .5s ease-in-out;
}
.Point{
    display: none;
    position: absolute;
    background-color: #5cff5c;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #2a6900;
    right: -2px;
    text-align: center;
    top: 0px;
}
h3::first-letter{
    font-size: 23px;
}
blockquote{
    background: url("../img/blockquote.png");
    background-repeat: no-repeat;
    background-position: top right;
}
@media (max-width:1700px) {
    .timeline li::before {
        left: 52.5%;
    }
    .alter li::before {
        left: 54%!important
    }
}

@media (max-width:1200px) {
    .alter li::before {
        left: 55%!important
    }
}

@media (max-width:1000px) {
    .timeline li::before {
        left: 54%!important;
    }
    .alter li::before {
        left: 57%!important
    }
}

@media (max-width:780px) {
    .timeline li::before {
        left: 52%!important;
    }
    .alter li::before {
        left: 52%!important
    }
}

@media (max-width:500px) {
    .timeline li::before {
        left: 54%!important;
    }
    .alter li::before {
        left: 54%!important
    }
}
